name: evolvia-redis

auth:
  enabled: false

resources:
  requests:
    cpu: "75m"
    memory: "64Mi"
  limits:
    cpu: "256m"
    memory: "128Mi"

persistence:
  enabled: true
  size: 1Gi

metrics:
  enabled: true
