name: evolvia-redis

auth:
  enabled: false

resources:
  requests:
    cpu: "5m"
    memory: "5Mi"
  limits:
    cpu: "256m"
    memory: "256Mi"

persistence:
  enabled: true
  size: 1Gi

metrics:
  enabled: true
